@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
}  

body {
  background-color: #f5f5f7;
  color: #1d1d1f;
}

body.dark { 
  
  background-color: #050505;
  color: #f5f5f7;
}

body.dark input {
  background-color: #1d1d1f;
  color: #f5f5f7;
  border: 1px solid #555;
}
body.dark .toggle {
  background-color: #1d1d1f;
  color: #f5f5f7;
  border-color: #555;
}

.toggle {
  border-radius: 4px;
  border: #1d1d1f 0.5px solid;
  cursor: pointer;
  padding: 3px 5px;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-bar input {
  flex: 1;
}

.flex-boxes {
  height: 300px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}
.box {
  margin-right: 20px;
  background-color: black;
  border: none;
  border-radius: 5px;
  min-width: 200px;
  max-height: 95%;
  transition: all 0.15s ease;
}

.box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search-movie {
  display: inline-block;
}

.search-movie img {
  height: 50dvh;
  display: block;
}

.error,
.results-info,
.error-2 {
  display: none;
}
.box:hover {
  box-shadow: 3px 3px 3px 1px #292929f3;
  cursor: pointer;
}
.trailer-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.trailer-container {
  position: relative;
  background: rgba(0, 0, 0, 0.459);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 760px;
  max-height: 430px;
}

.trailer {
  max-width: 760px;
  max-height: 430px;
}
.trailer iframe {
  display: block;
  max-width: 760px;
  max-height: 430px;
  aspect-ratio: 16/9;
  border: none;
}

.close-trailer {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  background: black;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.button {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 3px;
  border: 0.5px white solid;
  cursor: pointer;
}

.button:active {
  transform: translateX(-50%) scale(0.99);
}
